.left-arrow{
    width: 25px;
    height: 25px;
    transition: 0.1s ease;
}


.left-arrow:hover, .attach:hover{
    transform: scale(150%);
    transition: 0.1s ease;
}

.chatName {
    border-radius: 20px;
    padding: 10px;
    min-width: 120px;
    min-height: 40px;
    max-width: 300px;
    max-height: 40px;
}

.chatText{
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Ensures content is clipped when overflowing */
    text-overflow: ellipsis; /* Displays '...' when the text overflows */
}



.attach{
    transition: 0.1s ease;
    width:40px;
}

#user-input {
    border: 1px solid #ddd;
    border-radius: 50px;
    padding-left: 15px;
    margin: 20px;
    width: 100%;
}

input#user-input {
    flex-grow: 1; /* Adjusts size based on available space */
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

input#user-input::placeholder {
    color: #888;
}


  
  .chatName  {
    position: relative;
    border-radius: 20px;
    padding: 10px;
    min-width: 120px;
    min-height: 40px;
    max-width: 300px;
    max-height: 40px;
    background-color: white;
    cursor: pointer;
  }
  
  .chatText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .edit-btn {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-right: 10px;
  }
  
  .chatName-container:hover .edit-btn {
    display: inline; /* Show on hover */
  }
  
  .edit-chat-name {
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 1rem;
    width:100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .edit-chat-name:focus {
    outline: none;
  }
  

  .save-btn, .cancel-btn{
    border-radius: 30px;
    margin-left: 10px;
  }

  .edit-container{
    position:relative;
    border-radius: 20px;
    width: 250px;
    min-height: 40px;
    /* max-width: 300px; */
    max-height: 40px;
  }

  /* Static top bar */
.topBar-chat {
  height: 10vh;
}


.downBar-chat{
  background-color: #212229;
  height: 10vh;
}

.midBar-container {
  width: 100%;
  height: 80vh;
  overflow: scroll;
}

/* Message container for chat messages */
.message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* User and bot message styling */
.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  text-align: left;

}

.user-message {
  align-self: flex-end;
  background-color: #3700B3;
  color: white;
}

.bot-message {
  align-self: flex-start;
  background-color: #444;
  color: white;
}